/****** Object:  Table [dbo].[login]    Script Date: 5/16/2025 10:52:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[login]') AND type in (N'U'))
DROP TABLE [dbo].[login]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/16/2025 10:52:13 AM ******/
DROP DATABASE [MarketDB]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/16/2025 10:52:13 AM ******/
CREATE DATABASE [MarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/16/2025 10:52:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[login] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[login] ([username], [password]) VALUES (N'mohamed', N'mohamed')
INSERT [dbo].[login] ([username], [password]) VALUES (N'youssef', N'1234')
GO
