USE [MarketDB]
GO
ALTER TABLE [dbo].[login] DROP CONSTRAINT [DF_login_discount]
GO
ALTER TABLE [dbo].[login] DROP CONSTRAINT [DF__login__money__47DBAE45]
GO
/****** Object:  Index [UQ_TwoInOnes_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[TwoInOnes] DROP CONSTRAINT [UQ_TwoInOnes_QRCode]
GO
/****** Object:  Index [UQ_TwoInOnes_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[TwoInOnes] DROP CONSTRAINT [UQ_TwoInOnes_Name]
GO
/****** Object:  Index [UQ_Phones_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Phones] DROP CONSTRAINT [UQ_Phones_QRCode]
GO
/****** Object:  Index [UQ_Phones_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Phones] DROP CONSTRAINT [UQ_Phones_Name]
GO
/****** Object:  Index [UQ__login__F3DBC572115B7C7B]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[login] DROP CONSTRAINT [UQ__login__F3DBC572115B7C7B]
GO
/****** Object:  Index [UQ__login__AB6E6164EC9174BD]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[login] DROP CONSTRAINT [UQ__login__AB6E6164EC9174BD]
GO
/****** Object:  Index [UQ_Laptops_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Laptops] DROP CONSTRAINT [UQ_Laptops_QRCode]
GO
/****** Object:  Index [UQ_Laptops_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Laptops] DROP CONSTRAINT [UQ_Laptops_Name]
GO
/****** Object:  Index [UQ_Gpus_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Gpus] DROP CONSTRAINT [UQ_Gpus_QRCode]
GO
/****** Object:  Index [UQ_Gpus_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Gpus] DROP CONSTRAINT [UQ_Gpus_Name]
GO
/****** Object:  Index [UQ_GammingLaptops_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[GammingLaptops] DROP CONSTRAINT [UQ_GammingLaptops_QRCode]
GO
/****** Object:  Index [UQ_GammingLaptops_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[GammingLaptops] DROP CONSTRAINT [UQ_GammingLaptops_Name]
GO
/****** Object:  Index [UQ_Folds_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Folds] DROP CONSTRAINT [UQ_Folds_QRCode]
GO
/****** Object:  Index [UQ_Folds_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Folds] DROP CONSTRAINT [UQ_Folds_Name]
GO
/****** Object:  Index [UQ_Cpus_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Cpus] DROP CONSTRAINT [UQ_Cpus_QRCode]
GO
/****** Object:  Index [UQ_Cpus_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Cpus] DROP CONSTRAINT [UQ_Cpus_Name]
GO
/****** Object:  Table [dbo].[TwoInOnes]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TwoInOnes]') AND type in (N'U'))
DROP TABLE [dbo].[TwoInOnes]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Phones]') AND type in (N'U'))
DROP TABLE [dbo].[Phones]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[login]') AND type in (N'U'))
DROP TABLE [dbo].[login]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Laptops]') AND type in (N'U'))
DROP TABLE [dbo].[Laptops]
GO
/****** Object:  Table [dbo].[Gpus]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gpus]') AND type in (N'U'))
DROP TABLE [dbo].[Gpus]
GO
/****** Object:  Table [dbo].[GammingLaptops]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GammingLaptops]') AND type in (N'U'))
DROP TABLE [dbo].[GammingLaptops]
GO
/****** Object:  Table [dbo].[Folds]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Folds]') AND type in (N'U'))
DROP TABLE [dbo].[Folds]
GO
/****** Object:  Table [dbo].[Cpus]    Script Date: 5/31/2025 9:28:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cpus]') AND type in (N'U'))
DROP TABLE [dbo].[Cpus]
GO
USE [master]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/31/2025 9:28:50 PM ******/
DROP DATABASE [MarketDB]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/31/2025 9:28:50 PM ******/
CREATE DATABASE [MarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketDB]
GO
/****** Object:  Table [dbo].[Cpus]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cpus](
	[cpu_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cores] [int] NULL,
	[frequencyGHz] [float] NULL,
	[socketType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_Cpus] PRIMARY KEY CLUSTERED 
(
	[cpu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folds]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[screenSize] [float] NULL,
	[storageCapacity] [int] NULL,
	[ramSize] [int] NULL,
	[cameraQuality] [int] NULL,
	[cpuType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[batteryCapacity] [int] NULL,
	[tablet] [bit] NULL,
	[foldType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hingeMaterial] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[displayType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[durabilityRating] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sizeOfOpenedScreen] [float] NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_Folds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GammingLaptops]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GammingLaptops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storageCapacity] [int] NULL,
	[ramSize] [int] NULL,
	[graphicsCard] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cpuType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[screenSize] [float] NULL,
	[batteryLife] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[coolingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[keyboardType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[frameRate] [int] NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_GammingLaptops] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gpus]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gpus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[memoryGB] [int] NULL,
	[chipset] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_Gpus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[laptop_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storageCapacity] [int] NULL,
	[ramSize] [int] NULL,
	[graphicsCard] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cpuType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[screenSize] [float] NULL,
	[batteryLife] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_Laptops] PRIMARY KEY CLUSTERED 
(
	[laptop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[username] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[full_name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[password] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[account_type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[money] [int] NOT NULL,
	[discount] [int] NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[screenSize] [float] NULL,
	[storageCapacity] [int] NULL,
	[ramSize] [int] NULL,
	[cameraQuality] [int] NULL,
	[cpuType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[batteryCapacity] [int] NULL,
	[tablet] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[soldCounter] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwoInOnes]    Script Date: 5/31/2025 9:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwoInOnes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[brand] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[model] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[color] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [float] NULL,
	[description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quantity] [int] NULL,
	[image] [varbinary](max) NULL,
	[QRCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storageCapacity] [int] NULL,
	[ramSize] [int] NULL,
	[graphicsCard] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cpuType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[screenSize] [float] NULL,
	[batteryLife] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[detachableKeyboard] [bit] NULL,
	[hingeType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soldCounter] [int] NULL,
 CONSTRAINT [PK_TwoInOnes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cpus] ON 

INSERT [dbo].[Cpus] ([cpu_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [cores], [frequencyGHz], [socketType], [soldCounter]) VALUES (1, N'Processor Ryzen Z1', N'AMD', N'7610X', N'Standard OEM Packaging', 175.29, N'High performance CPU, model 1.', 25, NULL, N'QR-CPU-001', 6, 3.15, N'AM5', 1)
INSERT [dbo].[Cpus] ([cpu_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [cores], [frequencyGHz], [socketType], [soldCounter]) VALUES (2, N'Processor Core X2', N'Intel', N'i9-10900K', N'Standard OEM Packaging', 200.59, N'High performance CPU, model 2.', 30, NULL, N'QR-CPU-002', 8, 3.3, N'LGA1700', 2)
INSERT [dbo].[Cpus] ([cpu_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [cores], [frequencyGHz], [socketType], [soldCounter]) VALUES (3, N'Processor Ryzen Z3', N'AMD', N'5630X', N'Standard OEM Packaging', 225.89, N'High performance CPU, model 3.', 35, NULL, N'QR-CPU-003', 10, 3.45, N'AM5', 3)
SET IDENTITY_INSERT [dbo].[Cpus] OFF
GO
SET IDENTITY_INSERT [dbo].[Folds] ON 

SET IDENTITY_INSERT [dbo].[Folds] OFF
GO
SET IDENTITY_INSERT [dbo].[GammingLaptops] ON 

SET IDENTITY_INSERT [dbo].[GammingLaptops] OFF
GO
SET IDENTITY_INSERT [dbo].[Gpus] ON 

INSERT [dbo].[Gpus] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [memoryGB], [chipset], [soldCounter]) VALUES (1, N'Graphics Card R1X', N'AMD', N'Radeon RX 6750 XT', N'Black/Silver Edition', 240.79, N'Powerful graphics card, model R1X, for gaming and creative work.', 17, NULL, N'QR-GPU-001', 12, N'RDNA 3 Arch', 1)
INSERT [dbo].[Gpus] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [memoryGB], [chipset], [soldCounter]) VALUES (2, N'Graphics Card R2X', N'NVIDIA', N'GeForce RTX 3270', N'Black/Silver Edition', 281.59, N'Powerful graphics card, model R2X, for gaming and creative work.', 19, NULL, N'QR-GPU-002', 16, N'Ada Lovelace Arch', 2)
INSERT [dbo].[Gpus] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [memoryGB], [chipset], [soldCounter]) VALUES (3, N'Graphics Card R3X', N'AMD', N'Radeon RX 6900 XT', N'Black/Silver Edition', 322.39, N'Powerful graphics card, model R3X, for gaming and creative work.', 21, NULL, N'QR-GPU-003', 8, N'RDNA 3 Arch', 3)
SET IDENTITY_INSERT [dbo].[Gpus] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptops] ON 

INSERT [dbo].[Laptops] ([laptop_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [soldCounter]) VALUES (1, N'Laptop Pro 1', N'HP', N'LP-022', N'Space Grey', 860.69, N'A powerful and portable laptop, model 1, for work and play.', 10, NULL, N'QR-LAP-001', N'MacOS Sonoma', 1024, 16, N'NVIDIA GeForce MX550', N'Intel Core i7 13th Gen', 14, N'7 hours', 1)
INSERT [dbo].[Laptops] ([laptop_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [soldCounter]) VALUES (2, N'Laptop Pro 2', N'Lenovo', N'LP-044', N'Black', 921.39, N'A powerful and portable laptop, model 2, for work and play.', 12, NULL, N'QR-LAP-002', N'Ubuntu 22.04', 2048, 32, N'AMD Radeon Graphics', N'AMD Ryzen 5 7000 Series', 15.6, N'8 hours', 2)
INSERT [dbo].[Laptops] ([laptop_id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [soldCounter]) VALUES (3, N'Laptop Pro 3', N'Apple', N'LP-066', N'Silver', 982.09, N'A powerful and portable laptop, model 3, for work and play.', 14, NULL, N'QR-LAP-003', N'Windows 11 Pro', 512, 8, N'Apple M2 Graphics', N'Apple M2 Chip', 13.3, N'9 hours', 3)
SET IDENTITY_INSERT [dbo].[Laptops] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id], [money], [discount]) VALUES (N'admin@', N'admin', NULL, N'admin', NULL, 1, 0, 0)
INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id], [money], [discount]) VALUES (N'mohamed@', N'mohamed', NULL, N'mohamed', NULL, 9, -1691, 0)
INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id], [money], [discount]) VALUES (N'mohamed1@', N'mohamed1', NULL, N'21305', NULL, 10, 9050, 5)
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [screenSize], [storageCapacity], [ramSize], [cameraQuality], [cpuType], [batteryCapacity], [tablet], [ID], [soldCounter]) VALUES (N'Phone Model 1', N'Apple', N'PX-017', N'White', 350.54, N'A reliable smartphone, model 1, with great features.', 13, NULL, N'QR-PHN-001', N'iOS 16', 5.9, 256, 8, 16, N'Apple Bionic Y', 3600, 1, 1, 1)
INSERT [dbo].[Phones] ([name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [screenSize], [storageCapacity], [ramSize], [cameraQuality], [cpuType], [batteryCapacity], [tablet], [ID], [soldCounter]) VALUES (N'Phone Model 2', N'Google', N'PX-034', N'Blue', 401.09, N'A reliable smartphone, model 2, with great features.', 16, NULL, N'QR-PHN-002', N'Android 13', 6, 512, 12, 20, N'Tensor Z', 3700, 1, 2, 2)
INSERT [dbo].[Phones] ([name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [screenSize], [storageCapacity], [ramSize], [cameraQuality], [cpuType], [batteryCapacity], [tablet], [ID], [soldCounter]) VALUES (N'Phone Model 3', N'OnePlus', N'PX-051', N'Silver', 451.64, N'A reliable smartphone, model 3, with great features.', 19, NULL, N'QR-PHN-003', N'iOS 16', 6.1, 128, 6, 24, N'Snapdragon Gen X', 3800, 0, 3, 3)
SET IDENTITY_INSERT [dbo].[Phones] OFF
GO
SET IDENTITY_INSERT [dbo].[TwoInOnes] ON 

INSERT [dbo].[TwoInOnes] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [detachableKeyboard], [hingeType], [soldCounter]) VALUES (1, N'Convertible Touch 1', N'HP Spectre x360', N'CV-021', N'Dark Ash Silver', 980.44, N'Versatile 2-in-1 laptop, model 1, with touch screen.', 8, NULL, N'QR-2IN1-001', N'Windows 11 Home', 512, 16, N'Integrated Intel Iris Xe Graphics', N'Intel Core i7 U-Series', 14, N'8 hours', 0, N'360-degree Hinge', 1)
INSERT [dbo].[TwoInOnes] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [detachableKeyboard], [hingeType], [soldCounter]) VALUES (2, N'Convertible Touch 2', N'Dell XPS 2-in-1', N'CV-042', N'Ice Blue', 1060.89, N'Versatile 2-in-1 laptop, model 2, with touch screen.', 9, NULL, N'QR-2IN1-002', N'Windows 11 Home', 1024, 8, N'Integrated Intel Iris Xe Graphics', N'Intel Core i5 U-Series', 13, N'9 hours', 0, N'360-degree Hinge', 2)
INSERT [dbo].[TwoInOnes] ([id], [name], [brand], [model], [color], [price], [description], [quantity], [image], [QRCode], [operatingSystem], [storageCapacity], [ramSize], [graphicsCard], [cpuType], [screenSize], [batteryLife], [detachableKeyboard], [hingeType], [soldCounter]) VALUES (3, N'Convertible Touch 3', N'Lenovo Yoga', N'CV-063', N'Platinum', 1141.34, N'Versatile 2-in-1 laptop, model 3, with touch screen.', 10, NULL, N'QR-2IN1-003', N'Windows 11 Home', 256, 16, N'Integrated Intel Iris Xe Graphics', N'Intel Core i7 U-Series', 14, N'10 hours', 1, N'360-degree Hinge', 3)
SET IDENTITY_INSERT [dbo].[TwoInOnes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cpus_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Cpus] ADD  CONSTRAINT [UQ_Cpus_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cpus_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Cpus] ADD  CONSTRAINT [UQ_Cpus_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Folds_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Folds] ADD  CONSTRAINT [UQ_Folds_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Folds_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Folds] ADD  CONSTRAINT [UQ_Folds_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_GammingLaptops_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[GammingLaptops] ADD  CONSTRAINT [UQ_GammingLaptops_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_GammingLaptops_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[GammingLaptops] ADD  CONSTRAINT [UQ_GammingLaptops_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Gpus_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Gpus] ADD  CONSTRAINT [UQ_Gpus_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Gpus_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Gpus] ADD  CONSTRAINT [UQ_Gpus_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Laptops_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Laptops] ADD  CONSTRAINT [UQ_Laptops_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Laptops_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Laptops] ADD  CONSTRAINT [UQ_Laptops_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__login__AB6E6164EC9174BD]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[login] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__login__F3DBC572115B7C7B]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[login] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Phones_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [UQ_Phones_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Phones_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [UQ_Phones_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TwoInOnes_Name]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[TwoInOnes] ADD  CONSTRAINT [UQ_TwoInOnes_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TwoInOnes_QRCode]    Script Date: 5/31/2025 9:28:50 PM ******/
ALTER TABLE [dbo].[TwoInOnes] ADD  CONSTRAINT [UQ_TwoInOnes_QRCode] UNIQUE NONCLUSTERED 
(
	[QRCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[login] ADD  DEFAULT ((0)) FOR [money]
GO
ALTER TABLE [dbo].[login] ADD  CONSTRAINT [DF_login_discount]  DEFAULT ((0)) FOR [discount]
GO
USE [master]
GO
