USE [MarketDB]
GO
/****** Object:  Index [UQ__login__F3DBC5728F63A59F]    Script Date: 5/20/2025 2:53:19 PM ******/
ALTER TABLE [dbo].[login] DROP CONSTRAINT [UQ__login__F3DBC5728F63A59F]
GO
/****** Object:  Index [UQ__login__AB6E6164D622F922]    Script Date: 5/20/2025 2:53:19 PM ******/
ALTER TABLE [dbo].[login] DROP CONSTRAINT [UQ__login__AB6E6164D622F922]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/20/2025 2:53:19 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[login]') AND type in (N'U'))
DROP TABLE [dbo].[login]
GO
USE [master]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/20/2025 2:53:19 PM ******/
DROP DATABASE [MarketDB]
GO
/****** Object:  Database [MarketDB]    Script Date: 5/20/2025 2:53:19 PM ******/
CREATE DATABASE [MarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketDB]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/20/2025 2:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[email] [varchar](50) NULL,
	[username] [varchar](50) NULL,
	[full_name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[account_type] [varchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id]) VALUES (N'admin@', N'admin', NULL, N'admin', NULL, 1)
INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id]) VALUES (N'mohamed@', N'mohamed', NULL, N'mohamed', NULL, 2)
INSERT [dbo].[login] ([email], [username], [full_name], [password], [account_type], [id]) VALUES (N'mohamed1@', N'mohamed1', NULL, N'21305', NULL, 3)
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__login__AB6E6164D622F922]    Script Date: 5/20/2025 2:53:20 PM ******/
ALTER TABLE [dbo].[login] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__login__F3DBC5728F63A59F]    Script Date: 5/20/2025 2:53:20 PM ******/
ALTER TABLE [dbo].[login] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
